{% extends 'base.html' %}
{% block header %}
  <p class="subtitle">{% block title %}Bookmarks{% endblock %}</p>
{% endblock %}
{% block content %}
<article class="panel is-dark">
  <p class="panel-heading">My Bookmarks</p>
  <p class="panel-tabs">
    <a class="is-active">All</a>
    <a>Public</a>
    <a>Private</a>
    <a>Sources</a>
    <a>Forks</a>
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-dark" type="text" placeholder="Search" />
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  {% for bookmark in bookmarks %}
  {% if g.user and g.user['id'] == bookmark['author_id'] %}
    <a class="panel-block" href="{{ url_for('bookmarks.update', id=bookmark['id']) }}">
  
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    {{ bookmark['title'] }}
  </a>
  {% endif %}
  {% endfor %}
</article>
{% endblock %}