{% extends 'base.html' %}

{% block header %}
  <p class="subtitle">{% block title %}Log in{% endblock %}</p>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-content">
    <div class="content">
  <form method="post">
    <div class="field">
  <label for="username" class="label">username</label>
  <div class="control">
    <input class="input" type="text" name="username" id="username" required>
  </div>
</div>
    <div class="field">
  <label for="password" class="label">password</label>
  <div class="control">
    <input class="input" type="password" name="password" id="password" required>
  </div>
</div>
    <input class="button is-dark is-white" type="submit" value="Log in">
  </form>
    </div>
  </div>
</div>
{% endblock %}
