<!doctype html>
<html data-theme="dark">
<title>{% block title %}{% endblock %} - Flaskr</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
>
<section class="hero is-black is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head" style="border-bottom: 1px solid aliceblue">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            Home
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
      {% if g.user %}
        <a class="navbar-item"><span>{{ g.user['username'] }}</span>
        <a class="navbar-item" href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <a class="navbar-item" href="{{ url_for('auth.register') }}">Register</a>
        <a class="navbar-item" href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
            <span class="navbar-item">
              {% if g.user %}
              <a href="{{ url_for('bookmarks.create') }}" class="button is-dark is-inverted">
                New
              </a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body" style="max-width: 700px; margin: auto; width: 100%;">
    <div class="container has-text-centered">
      <p class="title mb-4">Bookmars manager save</p>
      <p class="subtitle">{% block header %}{% endblock %}</p>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    
    {% block content %}{% endblock %}
    </div>
  </div>
  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot" style="border-top: 1px solid aliceblue">
    <footer class="p-5">
  <div class="content has-text-centered">
    <p>
      <strong>Bookmarks saved</strong> by <a href="https://github.com/Kenkyoo?tab=repositories">Kenkyo</a>.
      The source code is licensed
      <a href="https://opensource.org/license/mit">MIT</a>. The
      repo content is 
      <a href="https://github.com/Kenkyoo?/flask-bookmarks"
        >Here!</a
      >.
    </p>
  </div>
</footer>
  </div>
</section>
